#blog-listing
  - sorted_articles.each do |post|
    .post
      %h2
        = link_to post[:title], post.path
      - if post.attributes.has_key?(:tldr)
        %aside.tldr
          = post[:tldr]
      %aside.posted_at
        = 'Posted at ' + post[:created_at]
