body {
  background: #fff;
  font-family: 'Scada', sans-serif;
}

a {
  text-decoration: none;
}

#title {
  font-size: 200%;
  text-align: center;
}

#title, #nav {
  font-family: 'Oranienbaum', serif;
}

#nav {
  font-size: 75%;
}

#nav * {
  margin: 0;
  padding: 0;
}

#nav ul {
  text-align: center;
}

#nav ul li {
  list-style-type: none;
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

#title a {
  color: black;
}

#nav a {
  text-decoration: underline;
}

#nav a:hover {
  text-decoration: none;
}

#main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40em;
}

#main #blog-listing, #post aside {
  text-align: center;
}

#main #blog-listing h2, #post h1 {
  text-align: center;
  margin-bottom: 0;
}

#main #blog-listing aside, #post aside {
  margin-top: 0;
}

.footnotes {
  margin-top: 100%;
}

pre, code, code span, kbd, var {
  font-family: Consolas, Inconsolata, Monaco, monospace;
}
