<!DOCTYPE HTML>
%html(lang="en")
  %head
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Scada' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oranienbaum' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    %meta{:name => "generator", :content => 'nanoc ' + Nanoc::VERSION}

    %title
      = @item[:title]
      [Charles R. Hogg III]

  %body

    #title
      = link_to_unless_current 'Charles R. Hogg III', '/', :title => 'Main page'
      #nav
        %ul
          %li
            = link_to_unless_current 'Contact', '/contact/', :title => 'Ways to contact me online'

    %hr

    #main
      = yield
